# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
# Ignore log files
*.log
logs/
oee_job/logs/
oee_api/logs/